<main>
  <div>
    {{#if logged_in}}
    {{!-- Takes to products page --}}
    <a href="/products">
      <button> Browse Meal Kits</button>
    </a>
    
    {{!-- Drop down menu to select styles --}}
    <form class="style-form" action="/products/style/" method="get">
      <label for="style">Choose a Style of Meal:</label>
      <select name="style" id="style">
        <option value="" disabled selected>Select your Style</option>
        {{#each styles}}
        <option value="{{id}}">{{style_name}}</option>
        {{/each}}
      </select>
        <button type="submit">Search Styles</button>
    </form>
    {{!-- Drop down menu to select protein --}}
    <form class="protein-form" action="/products/protien/" method="get">
      <label for="style">Choose a protein for your Meal:</label>
      <select name="protien" id="protein">
        <option value="" disabled selected>Select your Protein</option>
        {{#each protiens}}
        <option value="{{id}}">{{protien_name}}</option>
        {{/each}}
      </select>
      <button type="submit">Search Protein</button>
    </form>
    {{else}}
    <div class="alert alert-warning" role="alert">
    <p>You need to log in to view the products.</p>
</div>
{{/if}}
  </div>
</main>

{{!-- <script src="/js/homepage.js"></script> --}}