{{!-- Page for the individual product --}}
{{#if logged_in}}
<div class="border rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow max-w-md mx-auto">
  <div class="h-56 w-full">
    <img class="object-cover h-full w-full" src='{{product.picture}}' alt='Picture of Meal Kit' />
  </div>
  <div class="p-4">
    <h3 class="text-lg font-semibold">{{product.product_name}}</h3>
    <p class="mt-2 text-gray-600">Product Details: ${{product.product_details}}</p>
    <p class="mt-1 text-gray-600">Price: ${{product.price}}</p>
  </div>

  <div class="p-4 border-t">
    <a href="/api/orders/{{product.id}}" class="inline-block bg-blue-500 text-white rounded px-4 py-2 hover:bg-blue-600">Order</a>
  </div>
</div>
{{else}}
{{!-- If the user is not logged in and they somehow manage to reach this page, a message is shown telling them they need to login --}}
<div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative mt-4 max-w-md mx-auto" role="alert">
    <p>You need to log in to view the product information.</p>
</div>
{{/if}}
